@use '../../../../styles/auth' as *;

:host ::ng-deep {
  .field__toggle {
    color: var(--color-text) !important;
    cursor: pointer;

    i {
      font-size: 1rem;
      color: var(--color-text) !important;
    }

    &:hover {
      color: var(--color-primary) !important;

      i {
        color: var(--color-primary) !important;
      }
    }
  }
}